

form {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="date"] {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
}

button[type="button"] {
  background-color: #f01212;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

#search-results {
  /* margin-top: 20px; */
  /* padding: 20px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#search-results tr{
 background-color: white;
 
 }
#search-results tr td{
 width:110px;
    border: 2px solid black;
 padding: 9.2px;

}


  #tableHeading{
    display: flex;   
    /* width: 58%; */
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: white;
  }
  #tableHeading div{
    display: flex;
    border: 2px solid black;
    padding: 10px;
    width: 110px;
    background-color: white;

  }