body {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    /* background-color: #f9f9f9; */
    background-image: url("https://images7.alphacoders.com/468/468539.jpg");
    background-size: cover;


}
::-webkit-scrollbar{
  display: none;
}

.container {
    background-color: #ffffff64;
width: 68%;
    display: inline-block;
    /* border: 1px solid #ddd; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.544);
    color: rgb(0, 0, 0);
    /* opacity: 0.55; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}


header {
    background-color: #1c0909;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 30vh;
    z-index: 20;
    font-size: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 500px;
    /* opacity: 0.6; */
    


}

.nav-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #ff0202;
}

main {
    background-color: #5a000000;
    


}

section {
    /* background-color: #fff; */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}


button[type="submit"]{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    
  }

button[type="submit"]{
    background-color: #4CAF50;
    color: #fff;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

/* Responsive design */

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        margin: 20px;
    }
    header {
        width: 100%;
        height: auto;
        position: relative;
    }
    .nav-right {
        position: relative;
        top: 0;
        transform: none;
        right: 0;
    }
    main {
        margin-right: 0;
    }
    section {
        margin-bottom: 10px;
    }
}



#headingOfHistory{
    color: white;
    font-size: 36px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}


.edit-form {
    position: absolute;
    z-index: 10;
    top: 100px;
    left:30%;
    background-color: white;
    border-radius: 10px; /* add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 2); /* add box shadow */
    transition: box-shadow 0.3s, transform 0.3s; /* add transition for smooth effects */
  }
  
  .edit-form:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 3); /* increase box shadow on hover */
    cursor: pointer; /* change cursor to pointer on hover */
  }
  
  .edit-form:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 2); /* reduce box shadow on active */
  }
.edit-form h2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 18px;
    color: #222;
    margin-bottom: 20px;
    margin-top: 20px;

    margin-left: 20px;
    margin-right: 20px;
  }
.edit-form form{
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}
.edit-form form label {
    display: block;
   
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
  }
.edit-form form input[type="text"],input[type="date"] {
    width: 80%;
    padding: 10px;

    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #history .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  #history .edit-button {
    background-color: #4CAF50;
    color: #fff;
  }
  
  #history .edit-button:hover {
    background-color: #3e8e41;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #history .delete-button {
    background-color: #f44336;
    color: #fff;
  }
  
  #history .delete-button:hover {
    background-color: #e91e63;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

