body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  #customer-form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #error {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
  }