body {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  /* background-color: #f9f9f9; */
  background-image: url("https://images7.alphacoders.com/468/468539.jpg");
  background-size: cover;


}

.container {
  max-width:85%;
  /* background-color: #ffffff; */
  /* border: 1px solid #ddd; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.544); */
  color: rgb(255, 255, 255);
  /* opacity: 0.55; */
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 2%;
}
#Welcome{
  margin-top: 0px;
  
}
#Welcome h1{
  font-size: 95px;   
  }

header {
  background-color: #1c0909;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 30vh;
  z-index: 1;
  font-size: 16px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 500px;
  /* opacity: 0.6; */
  


}

.nav-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-bottom: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ff0202;
}

main {
  background-color: #5a000000;
  


}

section {
  /* background-color: #fff; */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button[type="submit"] {
  background-color: #e70000;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #f30a0a;
}

button[type="submit"]:active {
  background-color: #ff1500;
}

/* Responsive design */

@media (max-width: 768px) {
  .container {
      max-width: 100%;
      margin: 20px;
  }
  header {
      width: 100%;
      height: auto;
      position: relative;
  }
  .nav-right {
      position: relative;
      top: 0;
      transform: none;
      right: 0;
  }
  main {
      margin-right: 0;
  }
  section {
      margin-bottom: 10px;
  }
}

form {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="date"] {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
}

button[type="button"] {
  background-color: #f01212;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

#search-results {
  /* margin-top: 20px; */
  /* padding: 20px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#search-results tr{
 background-color: white;
 color: rgb(179, 13, 13);
 font-weight: 600;

 
 }
#search-results tr td{
 width:110px;
    border: 2px solid black;
 padding: 9.2px;

}


  #tableHeading{
    display: flex;   
    color: rgb(210, 25, 25);
    /* width: 58%; */
    /* border: 1px solid black; */
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: none;
  }
  #tableHeading div{
    display: flex;
    border: 2px solid black;
    color: black;
    padding: 10px;
    width: 110px;
    background-color: white;

  }